.donations {
  @include card();
  flex-direction: row;
}
.donations-header {
  flex: 1;
}
.donations-body {
  flex: 1;
}
.donation-recurrence-container {
  display: flex;
}
.check-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
