.donations {
  flex-direction: row;
  @include devices(mobile) {
    flex-direction: column;
  }
}
.donation-recurrence-container {
  width: 100%;
  display: flex;
}
.check-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sub-title {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.donate-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.custom-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  .custom {
    // background-color: #{$primary-color};
    border-bottom: 2px solid #{$primary-color2};
    // color: #{$text-color};
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }
}
.payment-methods {
  display: flex;
  justify-content: center;
  gap: 1rem;
  .payment-link {
    background-color: #{$primary-color};
    color: #{$text-color};
    border-radius: 4px;
    box-shadow: 0 0 3px 0px #{$shadow-color2};
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    flex: 1;
    text-decoration: none;
    text-transform: uppercase;
  }
}
