@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./keyframes.scss";
@import "./styles/index.scss";
@import "./App.scss";
@import "./header.scss";
@import "./about.scss";
@import "./contact.scss";

[data-state="instagram"] {
  color: #{$instagram};
}
[data-state="facebook"] {
  color: #{$facebook};
}
[data-state="twitter"] {
  color: #{$twitter};
}
[data-state="linkedIn"] {
  color: #{$linkedIn};
}
[data-state="paypal"] {
  color: #{$paypal};
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
