/**
for more options check out 

this project is going to use the Unicorn glow color palette
*/
/* // background color */
// $primary-color: #7c83af;
// $primary-color2: #525b92;
// $primary-color3: #313a75;
// $primary-color4: #182157;
// $primary-color5: #080f3a;

// $secondary-color: #fff4aa;
// $secondary-color2: #d4c76a;
// $secondary-color3: #aa9c39;
// $secondary-color4: #807215;
// $secondary-color5: #554a00;

// $third-color: #ffd7aa;
// $third-color2: #d4a26a;
// $third-color3: #aa7539;
// $third-color4: #804d15;
// $third-color5: #552d00;

// second batch
$primary-color: #6b63be;
$primary-color2: #433b97;
$primary-color3: #292174;
$primary-color4: #0f0a47;
$primary-color5: #0f0a47;

$secondary-color: #fff171;
$secondary-color2: #d9c940;
$secondary-color3: #a7991d;
$secondary-color4: #665c00;
$secondary-color5: #252100;

$third-color: #ffce71;
$third-color2: #d9a440;
$third-color3: #a7771d;
$third-color4: #664300;
$third-color5: #251800;

$text-color: #fff;
$text-color2: rgb(134, 134, 134);
$text-color3: rgb(0, 0, 0);

// $shadow-color: #a7991d;
// $shadow-color2: #a7771d;
// $shadow-color3: #eee;
$shadow-color: #ddd;
$shadow-color2: #333;
// $shadow-color3: #eee;

// socials
$instagram: #ea4c52;
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedIn: #2867b2;
$paypal: #3b7bbf;

// $primary-color-hover: #080f3a;
// $primary-color-active: #525b92;
// $secondary-color: #d8bbd3;
// $secondary-color-hover: #b58ebc;

// $active-color: #feef7b;
// $active-color-hover: #d3c454;
// $danger: red;
// /* // text color */
// $active-text-color: #459be2;
// $primary-text-color: white;
// $primary-text-color-hover: #333;
// $primary-text-color-disable: gray;
// $secondary-text-color: #333;
// $secondary-text-color-hover: white;
// /* // box shadow color */
// $primary-shadow-color: purple;
// $secondary-shadow-color: #bb96c2;
/* // // readmore lines */
$max-lines: 2;
$line-height: 1.4;
/* //  media queries */
$table: 680px;
$mobile: 501px;
